@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;

}

:root{
    --cor-principal-console: #69d3ab;
    --cor-clara-principal-console: #7addb7;
    --cor-contorno-principal: #204a3b;
    --cor-visor: #bbf2c8;
    --cor-sombra-visor: #70ef88;
    --cor-botao-amarelo: #fcef54;
    --cor-botao-azul: #4040d3;
    --cor-botao-rosa: #ee0061;
    --cor-botao-verde: #2bb45a;

}

body{
    background-color: rgb(129, 219, 219);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.console{
    display: flex;
    flex-direction: column;
    border: 25px solid var(--cor-contorno-principal);
    border-radius: 20px;
    width: 80%;
    height: 50%;
    background-color: var(--cor-principal-console);
    align-items: center;
}

.visor{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 20px 15px 25px;
    background-color: var(--cor-visor);
    width: 80%;
    height: 30%;
    border-radius: 10px;
    box-shadow: 0px -4px 0px 0px var(--cor-sombra-visor),
                0px 4px 0px 0px #ffffff;
}

.traco{
    background-color: var(--cor-contorno-principal);
    width: 150px;
    height: 20px;
    justify-content: center;
}

.area-botoes{
    align-items: center;
    display: flex;
    height: 50%;
    width: 90%;
    justify-content: space-around;

}

.botao_console{
    background-color: var(--cor-botao-amarelo);
    border: none;
}

.joystick{
    width: 90px;
    height: 90px;
    display: flex;
    flex-direction: column;

}

.top{
    align-self: center;
    width: 25px;
    height: 50%;
}

.bottom{
    align-self: center;
    width: 25px;
    height: 50%;
    box-shadow: 0px 3px 0px 0px#ada54b;
}

.joystick__botao-horizontal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px 3px 0px 0px#ada54b;
}

.left{
    width: 50%;
    height: 25px;
}

.right{
    width: 50%;
    height: 25px;
    box-shadow: 0px 3px 0px 0px#ada54b;
}

.top:hover, .bottom:hover, .left:hover, .right:hover{
    cursor: pointer;
}

.botoes-circulares{
    width: 90px;
    height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.botoes-circulares__column{
    display: flex;
    flex-direction: column;
}

.start{
    width: 100%;
    height: 40%;
    border-radius: 50%;
    border: none;
    background-color: var(--cor-botao-rosa);
    box-shadow: 0px 3px 0px 0px #521e32;
    align-self: center;
}

.foco, .descanso{
    font-size: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    margin: 2px 0px 0px 10px;
}

.foco{
    background-color: var(--cor-botao-azul);
    box-shadow: 0px 2px 0px 0px #252570;
}

.descanso{
    background-color: var(--cor-botao-verde);
    box-shadow: 0px 2px 0px 0px #23663b;
}

.start:hover, .foco:hover, .descanso:hover{
    cursor: pointer;
}

.temporizador{
    color: #ffffff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.336);
    font-size: 60px;
}