@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;

}

:root{
    --cor-principal-console: #69d3ab;
    --cor-clara-principal-console: #7addb7;
    --cor-contorno-principal: #204a3b;
    --cor-visor: #bbf2c8;
    --cor-sombra-visor: #70ef88;
    --cor-botao-amarelo: #fcef54;
    --cor-botao-azul: #4040d3;
    --cor-botao-rosa: #ee0061;
    --cor-botao-verde: #2bb45a;

}

body{
    background-color: rgb(129, 219, 219);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.console{
    display: flex;
    flex-direction: column;
    border: 20px solid var(--cor-contorno-principal);
    border-radius: 20px;
    width: 80%;
    height: 450px;
    background-color: var(--cor-principal-console);
    align-items: center;
}

.visor{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 20px 15px 25px;
    background-color: var(--cor-visor);
    width: 80%;
    height: 30%;
    border-radius: 10px;
    box-shadow: 0px -4px 0px 0px var(--cor-sombra-visor),
                0px 4px 0px 0px #ffffff;
}

.traco{
    background-color: var(--cor-contorno-principal);
    width: 150px;
    height: 20px;
    justify-content: center;
}

.area-botoes{
    align-items: center;
    display: flex;
    height: 50%;
    width: 90%;
    justify-content: space-around;

}

.botao_console{
    background-color: var(--cor-botao-amarelo);
    border: none;
}

.joystick{
    width: 90px;
    height: 90px;
    display: flex;
    flex-direction: column;

}

.top{
    align-self: center;
    width: 25px;
    height: 50%;
}

.bottom{
    align-self: center;
    width: 25px;
    height: 50%;
    box-shadow: 0px 3px 0px 0px#ada54b;
}

.joystick__botao-horizontal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px 3px 0px 0px#ada54b;
}

.left{
    width: 50%;
    height: 25px;
}

.right{
    width: 50%;
    height: 25px;
    box-shadow: 0px 3px 0px 0px#ada54b;
}

.top:hover, .bottom:hover, .left:hover, .right:hover{
    cursor: pointer;
}

.botoes-circulares{
    width: 90px;
    height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.botoes-circulares__column{
    display: flex;
    flex-direction: column;
}

.start{
    width: 100%;
    height: 40%;
    border-radius: 50%;
    border: none;
    background-color: var(--cor-botao-rosa);
    box-shadow: 0px 3px 0px 0px #521e32;
    align-self: center;
}

.foco, .descanso{
    font-size: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    margin: 2px 0px 0px 10px;
}

.foco{
    background-color: var(--cor-botao-azul);
    box-shadow: 0px 2px 0px 0px #252570;
}

.descanso{
    background-color: var(--cor-botao-verde);
    box-shadow: 0px 2px 0px 0px #23663b;
}

.start:hover, .foco:hover, .descanso:hover{
    cursor: pointer;
}

.temporizador{
    color: #ffffff;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.336);
    font-size: 50px;
    font-family: 'Orbitron', sans-serif;
}

.container__botoes-esquerda{
    display: flex;
    flex-direction: column;
}

.botoes-inferiores{
    align-self: center;
}

.musica__on, .musica__off{
    margin-top: 20px;
    border-radius: 15px;
    border: none;
    background-color: var(--cor-botao-azul);
    width: 30px;
    height: 10px;
    box-shadow: 0px 3px 0px 0px #252570;
}

.musica__off{
    margin-left: 5px;
}


@media screen and (min-width: 500px){
    .console{
        height: 50%;
    }
    .traco{
        margin-top: 10px;
        width: 200px;
    }
    .joystick{
        scale: 1;
    }
    .botoes-circulares{
        scale: 1.4;
    }
    .musica__on, .musica__off{
        scale: 1.1;
        margin-top: 30px;
    }
    .temporizador{
        font-size: 5em;
    }
}


@media screen and (min-width: 600px) and (max-width:800px){
    .console{
        height: 50%;
    }
    .traco{
        margin-top: 10px;
        width: 300px;
    }
    .botoes-circulares{
        scale: 1.6;
    }
    .musica__on, .musica__off{
        scale: 1.2;
        margin-top: 40px;
    }
    .joystick{
        scale: 1.2;
    }
    .temporizador{
        font-size: 6em;
    }
}

@media screen and (min-width: 800px) and (max-width:900px){
    .console{
        height: 50%;
    }
    .traco{
        margin-top: 10px;
        width: 300px;
    }
    .botoes-circulares{
        scale: 2;
    }
    .musica__on, .musica__off{
        scale: 1.2;
        margin-top: 40px;
    }
    .joystick{
        scale: 1.4;
    }
    .temporizador{
        font-size: 7em;
    }
}



@media screen and (min-width: 900px){
    .console{
        width: 700px;
        height: 70%;
    }
    .traco{
        margin-top: 15px;
        width: 350px;
    }
    .botoes-circulares{
        scale: 2;
    }
    .musica__on, .musica__off{
        scale: 1.4;
        margin-top: 50px;
    }
    .musica__off{
        margin-left: 20px;
    }
    .joystick{
        margin-top: 50px;
        scale: 1.4;
    }
    .temporizador{
        font-size: 8em;
    }
}
