@charset "UTF-8";

html{
    background: #007991;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #e2fdff, 
    #00a7b5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #78ffd6, #00a7b5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}